<!DOCTYPE html>
<html lang="en">
  <%- include ('header') -%>



  <body>
    <%- include ('navbar') -%>

    <br /> <br />
  <div id="employee_lists" class="container text-center">

      <h2>Employee Records</h2><br />
    <table class="table table-dark">
      <tr>
        <th>EmpID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
      </tr>
      <tbody>
        <% if(employees.length) { %>
          <a href="/new"><button id="addEmployeesBtn" class="btn btn-primary"> Add Employee</button></a><br /><br />
          <% var i = 101; %>
          <% employees.forEach(function(employee) {%>

            <tr>
              <th><%=i %></th>
              <td><%=employee.firstName %></td>
              <td><%=employee.lastName %></td>
              <td><%=employee.title %></td>
              <td><a href="/view/<%= employee.firstName %>/<%= employee.lastName %>/<%= employee.title %>">VIEW</a></td>
            </tr>
            <%i++; %>
            <% }); %>
          <% } %>
      </tbody>
    </table>


  </div>

    <%- include ('footer') -%>
    <%- include ('scripts') -%>

  </body>

</html>
